@charset "UTF-8";
.shapka {
  padding-bottom: 200px; }
  @media only screen and (min-height: 650px) {
    .shapka {
      height: 100vh;
      padding-bottom: 0px; } }
  .shapka .shapka-header {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 220px; }
    @media only screen and (min-height: 650px) {
      .shapka .shapka-header {
        margin-bottom: 20vh; } }
    @media only screen and (max-width: 600px) {
      .shapka .shapka-header {
        margin-bottom: 110px; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      .shapka .shapka-header {
        text-align: center;
        margin-bottom: 110px; } }
    @media only screen and (max-width: 600px) {
      .shapka .shapka-header .logo img {
        margin: auto; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      .shapka .shapka-header .logo img {
        margin: auto;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 600px) {
      .shapka .shapka-header .top-header-line {
        display: none; } }
    .shapka .shapka-header .header-info {
      float: right; }
      @media only screen and (max-width: 600px) {
        .shapka .shapka-header .header-info {
          float: none; } }
      @media only screen and (min-width: 601px) and (max-width: 1023px) {
        .shapka .shapka-header .header-info {
          float: none;
          display: inline-block; } }
      .shapka .shapka-header .header-info .header-info-contacts, .shapka .shapka-header .header-info .header-info-right, .shapka .shapka-header .header-info img {
        float: left; }
        .shapka .shapka-header .header-info .header-info-contacts span, .shapka .shapka-header .header-info .header-info-contacts a, .shapka .shapka-header .header-info .header-info-right span, .shapka .shapka-header .header-info .header-info-right a, .shapka .shapka-header .header-info img span, .shapka .shapka-header .header-info img a {
          color: #fff;
          font-family: sansationregular;
          font-size: 16px;
          line-height: 16px; }
      .shapka .shapka-header .header-info .header-info-contacts {
        padding-top: 18px;
        padding-bottom: 18px;
        max-width: 300px; }
        @media only screen and (max-width: 600px) {
          .shapka .shapka-header .header-info .header-info-contacts {
            margin: auto;
            margin-top: 20px;
            max-width: 100%;
            width: 100%;
            display: block; } }
        .shapka .shapka-header .header-info .header-info-contacts span {
          text-align: right;
          display: block;
          margin-bottom: 13px; }
          @media only screen and (max-width: 600px) {
            .shapka .shapka-header .header-info .header-info-contacts span {
              text-align: center; } }
      .shapka .shapka-header .header-info .header-info-right {
        padding-top: 8px;
        max-width: 250px; }
        @media only screen and (max-width: 600px) {
          .shapka .shapka-header .header-info .header-info-right {
            max-width: 100%;
            width: 100%;
            display: block;
            text-align: center; } }
        .shapka .shapka-header .header-info .header-info-right span {
          display: block;
          min-width: 200px;
          text-align: right; }
          @media only screen and (max-width: 600px) {
            .shapka .shapka-header .header-info .header-info-right span {
              text-align: center; } }
        .shapka .shapka-header .header-info .header-info-right .header-info-right-time-text, .shapka .shapka-header .header-info .header-info-right .clock {
          float: left; }
        .shapka .shapka-header .header-info .header-info-right .header-info-right-time-text {
          margin-right: 10px; }
        .shapka .shapka-header .header-info .header-info-right .header-info-right-time {
          margin-bottom: 14px; }
          @media only screen and (max-width: 600px) {
            .shapka .shapka-header .header-info .header-info-right .header-info-right-time {
              text-align: center;
              display: inline-block; } }
        .shapka .shapka-header .header-info .header-info-right .header-button {
          width: 100%;
          border: none;
          height: 45px;
          cursor: pointer; }
          @media only screen and (max-width: 600px) {
            .shapka .shapka-header .header-info .header-info-right .header-button img {
              margin: auto !important;
              float: none; } }
      .shapka .shapka-header .header-info img {
        margin-left: 20px;
        margin-right: 20px; }
  .shapka .shapka-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 600px) {
      .shapka .shapka-center .shapka-lines {
        display: none !important; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      .shapka .shapka-center .shapka-lines {
        display: none; } }
    .shapka .shapka-center .shapka-center-inner {
      text-align: center;
      display: block;
      max-width: 100%; }
      .shapka .shapka-center .shapka-center-inner .shapka-center-title {
        font-size: 28px;
        font-family: "Verdana";
        color: white;
        font-weight: bold;
        line-height: 1.642;
        text-align: center;
        display: block;
        max-width: 1026px;
        letter-spacing: 15px;
        margin-bottom: 40px; }
        @media only screen and (max-width: 600px) {
          .shapka .shapka-center .shapka-center-inner .shapka-center-title {
            font-size: 18px;
            letter-spacing: 5px; } }
      .shapka .shapka-center .shapka-center-inner .shapka-center-subtitle, .shapka .shapka-center .shapka-center-inner .shapka-center-subtitle a {
        font-size: 40px;
        font-family: "Verdana";
        color: #f2ff2a;
        font-weight: bold;
        line-height: 1.642;
        text-align: center;
        display: block;
        letter-spacing: 15px;
        margin-bottom: 40px; }
        @media only screen and (max-width: 600px) {
          .shapka .shapka-center .shapka-center-inner .shapka-center-subtitle, .shapka .shapka-center .shapka-center-inner .shapka-center-subtitle a {
            font-size: 24px;
            letter-spacing: 2px; } }
      .shapka .shapka-center .shapka-center-inner img {
        margin: auto;
        display: block;
        cursor: pointer; }
        @media only screen and (max-width: 600px) {
          .shapka .shapka-center .shapka-center-inner img {
            height: 50px; } }

.features {
  padding-top: 100px;
  padding-bottom: 30px; }
  .features .features-list {
    padding: 0;
    list-style: none; }
    .features .features-list .features-item {
      width: 50%;
      float: left;
      margin-bottom: 70px; }
      @media only screen and (max-width: 600px) {
        .features .features-list .features-item {
          width: 100%; } }
      @media only screen and (min-width: 601px) and (max-width: 1023px) {
        .features .features-list .features-item {
          width: 45%;
          margin-right: 2%; } }
      .features .features-list .features-item img {
        float: left;
        max-width: 28%;
        margin-right: 5%; }
      .features .features-list .features-item .feature-item-inner {
        float: left;
        width: 67%; }
        .features .features-list .features-item .feature-item-inner .feature-title {
          display: block;
          font-size: 24px;
          font-family: sansationbold;
          color: #c92596;
          margin-bottom: 10px; }
          @media only screen and (max-width: 600px) {
            .features .features-list .features-item .feature-item-inner .feature-title {
              font-size: 21px; } }
        .features .features-list .features-item .feature-item-inner .feature-description {
          display: block;
          color: #4f4f4f;
          font-size: 14px;
          font-family: Verdana; }

.slider {
  position: relative; }
  .slider .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%; }
    .slider .owl-nav .owl-prev {
      z-index: 9999;
      display: block;
      content: " ";
      float: left;
      background: url("../img/sprite/slider-left-arrow.png") no-repeat;
      width: 34px;
      height: 60px;
      text-indent: -9999px;
      margin-left: 15%; }
    .slider .owl-nav .owl-next {
      display: block;
      float: right;
      background: url("../img/sprite/slider-right-arrow.png") no-repeat;
      width: 34px;
      height: 60px;
      text-indent: -9999px;
      margin-right: 15%; }
  .slider .owl-dots {
    width: 100%;
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 5%; }
    .slider .owl-dots .owl-dot {
      display: inline-block;
      width: 34px;
      height: 35px;
      background: url("../img/sprite/slider-element.png") no-repeat;
      margin-right: 15px; }
    .slider .owl-dots .active {
      width: 34px;
      height: 35px;
      background: url("../img/sprite/slider-element-active.png") no-repeat; }
    .slider .owl-dots .owl-dot:last-child {
      margin: 0px; }
  .slider .slider-item .slider-background {
    position: relative; }
  .slider .slider-item .slider-inner {
    position: absolute;
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }
    .slider .slider-item .slider-inner .text {
      font-size: 24px;
      font-family: Verdana;
      color: #fff;
      max-width: 970px;
      text-align: center;
      margin-bottom: 75px; }

.possiblies {
  padding-top: 220px;
  padding-bottom: 220px;
  background: url("../img/bg-3section.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .possiblies {
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (max-width: 600px) {
    .possiblies {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media only screen and (max-width: 600px) {
    .possiblies .big-img {
      max-width: 95%;
      margin: auto; } }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .possiblies .big-img {
      max-width: 95%;
      margin: auto; } }
  .possiblies .big-img img {
    margin: auto;
    display: block; }
  .possiblies .small-images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 600px) {
      .possiblies .small-images {
        height: auto;
        display: block; } }
    .possiblies .small-images .small-image {
      max-width: 47%;
      cursor: pointer; }
      @media only screen and (max-width: 600px) {
        .possiblies .small-images .small-image {
          margin: auto;
          max-width: 90%;
          margin-bottom: 20px; } }

@media only screen and (max-width: 600px) {
  .uslugi {
    display: none; } }

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .uslugi {
    display: none; } }

.uslugi .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 600px) {
    .uslugi .row {
      display: block; } }

.uslugi .left {
  background: url("../img/bg-uslugi-left.png") no-repeat;
  margin-right: 30px;
  -webkit-background-size: cover;
          background-size: cover; }
  .uslugi .left .half-container {
    float: right; }

.uslugi .right {
  background: url("../img/bg-uslugi-right.png") no-repeat;
  margin-left: 30px;
  -webkit-background-size: cover;
          background-size: cover; }
  .uslugi .right .half-container {
    float: left;
    padding-left: 100px; }

.uslugi .uslugi-img {
  max-width: 50%; }

.uslugi .half-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.uslugi .uslugi-item {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  margin-top: 30px;
  margin-bottom: 30px; }
  .uslugi .uslugi-item .uslugi-title {
    color: #f2ff2a;
    font-size: 34px;
    font-family: sansationbold;
    display: block;
    margin-bottom: 20px; }
  .uslugi .uslugi-item .uslugi-descriptiom-list {
    list-style: none;
    padding-left: 0px;
    display: block; }
    .uslugi .uslugi-item .uslugi-descriptiom-list .uslugi-description-item {
      color: #fff;
      font-size: 22px;
      font-family: Verdana;
      padding-left: 1em;
      text-indent: -.7em; }
    .uslugi .uslugi-item .uslugi-descriptiom-list .uslugi-description-item:before {
      content: "• ";
      color: #f2ff2a; }

@media only screen and (min-width: 1023px) {
  .uslugi-forTelephone {
    display: none; } }

.uslugi-forTelephone .row {
  display: block; }

.uslugi-forTelephone .left {
  background: url("../img/bg-uslugi-left.png") no-repeat;
  background-position: top; }

.uslugi-forTelephone .right {
  background: url("../img/bg-uslugi-right.png") no-repeat;
  margin-left: 30px;
  background-position: 0px 30px; }
  .uslugi-forTelephone .right .half-container {
    float: left;
    padding-left: 100px; }

.uslugi-forTelephone .uslugi-img {
  max-width: 100%; }

.uslugi-forTelephone .half-container {
  padding: 15px; }

.uslugi-forTelephone .uslugi-item {
  width: 100%; }
  .uslugi-forTelephone .uslugi-item .uslugi-title {
    color: #f2ff2a;
    font-size: 28px;
    font-family: sansationbold;
    display: block;
    margin-bottom: 20px; }
  .uslugi-forTelephone .uslugi-item .uslugi-descriptiom-list {
    list-style: none;
    padding-left: 0px;
    display: block; }
    .uslugi-forTelephone .uslugi-item .uslugi-descriptiom-list .uslugi-description-item {
      color: #fff;
      font-size: 16px;
      font-family: Verdana;
      padding-left: 1em;
      text-indent: -.7em; }
    .uslugi-forTelephone .uslugi-item .uslugi-descriptiom-list .uslugi-description-item:before {
      content: "• ";
      color: #f2ff2a; }

@media only screen and (max-width: 600px) {
  .slider2 {
    display: none; } }

@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .slider2 {
    display: none; } }

.banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/bg-5section.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .banner .text {
    margin-bottom: 60px; }
  .banner .button {
    cursor: pointer; }

.contacts .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 600px) {
    .contacts .row {
      display: block; } }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .contacts .row {
      display: block; } }

.contacts .left {
  background: url("../img/bg-contacts.png") no-repeat;
  margin-right: 30px;
  -webkit-background-size: cover;
          background-size: cover; }
  .contacts .left .half-container {
    float: right; }
    @media only screen and (max-width: 600px) {
      .contacts .left .half-container {
        float: left;
        margin-left: 20px; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      .contacts .left .half-container {
        float: left;
        margin-left: 20px; } }

.contacts .contacts-map {
  max-width: 50%; }
  @media only screen and (max-width: 600px) {
    .contacts .contacts-map {
      max-width: 100%; } }

.contacts .half-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.contacts .uslugi-item {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 600px) {
    .contacts .uslugi-item {
      margin: 0px;
      padding: 15px;
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .contacts .uslugi-item {
      margin: 0px;
      padding: 15px;
      padding-top: 50px;
      padding-bottom: 50px; } }
  .contacts .uslugi-item .uslugi-title {
    color: #fff;
    font-size: 34px;
    font-family: sansationbold;
    display: block;
    margin-bottom: 20px; }
    @media only screen and (max-width: 600px) {
      .contacts .uslugi-item .uslugi-title {
        font-size: 30px; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      .contacts .uslugi-item .uslugi-title {
        font-size: 30px; } }
  .contacts .uslugi-item .uslugi-descriptiom-list {
    list-style: none;
    padding-left: 0px;
    display: block; }
    .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item {
      color: #fff;
      font-size: 22px;
      line-height: 22px;
      font-family: Verdana;
      margin-bottom: 15px; }
      @media only screen and (max-width: 600px) {
        .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item {
          font-size: 16px;
          line-height: 16px; } }
      @media only screen and (min-width: 601px) and (max-width: 1023px) {
        .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item {
          font-size: 16px;
          line-height: 16px; } }
      .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item p {
        margin: 0px 0px 5px 0px; }
      .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item div {
        display: inline-block; }
      .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item a {
        color: #fff; }
    .contacts .uslugi-item .uslugi-descriptiom-list .uslugi-description-item:before {
      content: " ";
      background-image: url(../img/sprite/spritesheet.png);
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 12px;
      float: left; }
    .contacts .uslugi-item .uslugi-descriptiom-list .tel:before {
      width: 21px;
      height: 21px;
      background-position: -108px -34px; }
    .contacts .uslugi-item .uslugi-descriptiom-list .tel a {
      color: #f2ff2a; }
    .contacts .uslugi-item .uslugi-descriptiom-list .mail:before {
      width: 24px;
      height: 19px;
      background-position: -108px -5px; }
    .contacts .uslugi-item .uslugi-descriptiom-list .geo:before {
      width: 19px;
      height: 22px;
      background-position: -79px -5px; }
    .contacts .uslugi-item .uslugi-descriptiom-list .clock:before {
      width: 22px;
      height: 22px;
      background-position: -47px -5px; }

.contacts .button img {
  cursor: pointer; }

.index-form {
  padding-top: 120px;
  padding-bottom: 120px; }
  .index-form .index-form-title {
    display: block;
    margin: auto;
    font-size: 47px;
    font-family: "sansationbold";
    color: #c92596;
    margin-bottom: 20px;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .index-form .index-form-title {
        font-size: 28px; } }
  .index-form .index-form-subtitle {
    display: block;
    margin: auto;
    font-size: 19px;
    font-family: "Verdana";
    color: #4f4f4f;
    margin-bottom: 50px;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .index-form .index-form-subtitle {
        font-size: 16px; } }
  .index-form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 600px) {
      .index-form form {
        display: block; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      .index-form form {
        display: block; } }
    .index-form form input {
      width: 377px;
      height: 62px;
      border: 0px;
      -webkit-background-size: cover;
              background-size: cover;
      margin-right: 14px;
      outline: none;
      padding-left: 80px;
      padding-right: 20px;
      font-size: 18px;
      font-family: Verdana; }
      @media only screen and (max-width: 600px) {
        .index-form form input {
          max-width: 288px;
          margin: auto;
          margin-bottom: 20px;
          height: 47px;
          -webkit-background-size: cover !important;
                  background-size: cover !important;
          display: block;
          padding-left: 60px;
          font-size: 15px; } }
      @media only screen and (min-width: 601px) and (max-width: 1023px) {
        .index-form form input {
          margin: auto;
          display: block;
          margin-bottom: 20px; } }
    .index-form form input::-webkit-input-placeholder {
      font-size: 18px;
      font-family: Verdana;
      color: #b2b2b2; }
    .index-form form input::-moz-placeholder {
      font-size: 18px;
      font-family: Verdana;
      color: #b2b2b2; }
    .index-form form input:-ms-input-placeholder {
      font-size: 18px;
      font-family: Verdana;
      color: #b2b2b2; }
    .index-form form input::placeholder {
      font-size: 18px;
      font-family: Verdana;
      color: #b2b2b2; }
      @media only screen and (max-width: 600px) {
        .index-form form input::-webkit-input-placeholder {
          font-size: 15px; }
        .index-form form input::-moz-placeholder {
          font-size: 15px; }
        .index-form form input:-ms-input-placeholder {
          font-size: 15px; }
        .index-form form input::placeholder {
          font-size: 15px; } }
    .index-form form .input-name {
      background: url("../img/form-input-border-name.png") no-repeat; }
    .index-form form .input-name:focus {
      background: url("../img/form-input-border-name-focus.png") no-repeat; }
    .index-form form .input-telephone {
      background: url("../img/form-input-border-telephone.png") no-repeat; }
    .index-form form .input-telephone:focus {
      background: url("../img/form-input-border-telephone-focus.png") no-repeat; }
    .index-form form .button {
      display: inline-block;
      border: none;
      background: none; }
      .index-form form .button img {
        cursor: pointer; }
      @media only screen and (max-width: 600px) {
        .index-form form .button {
          max-width: 90%;
          margin: auto;
          display: block; }
          .index-form form .button img {
            margin: auto; } }
      @media only screen and (min-width: 601px) and (max-width: 1023px) {
        .index-form form .button {
          display: block; }
          .index-form form .button img {
            margin: auto;
            display: block; } }

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/bg-footer.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  footer .footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 600px) {
      footer .footer-wrapper {
        display: block;
        text-align: center; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      footer .footer-wrapper {
        display: block;
        text-align: center; } }
  @media only screen and (max-width: 600px) {
    footer .logo {
      max-width: 80%;
      margin: auto;
      margin-bottom: 30px; }
      footer .logo img {
        margin: auto; } }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    footer .logo {
      max-width: 80%;
      margin: auto;
      margin-bottom: 30px; }
      footer .logo img {
        margin: auto; } }
  @media only screen and (max-width: 600px) {
    footer .footer-line {
      display: none; } }
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    footer .footer-line {
      display: none; } }
  footer .footer-center {
    font-size: 32px;
    font-family: "sansationbold";
    max-width: 270px;
    display: block;
    color: #fff; }
    @media only screen and (max-width: 600px) {
      footer .footer-center {
        margin: auto;
        font-size: 26px;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 601px) and (max-width: 1023px) {
      footer .footer-center {
        margin: auto;
        font-size: 26px;
        margin-bottom: 30px; } }
  footer .footer-right-side {
    display: inline-block; }
    footer .footer-right-side .instagram-icon, footer .footer-right-side .hashtages {
      float: left; }
    footer .footer-right-side .instagram-icon {
      margin-right: 15px; }
    footer .footer-right-side .hashtages p, footer .footer-right-side .hashtages span {
      color: #fff;
      font-size: 22px;
      font-family: "Verdana";
      line-height: 23px;
      margin-top: 10px;
      margin-bottom: 0px;
      display: block; }
      @media only screen and (max-width: 600px) {
        footer .footer-right-side .hashtages p, footer .footer-right-side .hashtages span {
          font-size: 16px;
          text-align: left; } }
      @media only screen and (min-width: 601px) and (max-width: 1023px) {
        footer .footer-right-side .hashtages p, footer .footer-right-side .hashtages span {
          font-size: 16px;
          text-align: left; } }
    footer .footer-right-side .hashtages span {
      margin-top: 0px; }

.remodal-wrapper .modal-close {
  display: block;
  position: absolute;
  background: url("../img/forms/close.png") no-repeat;
  width: 32px;
  height: 32px;
  top: -35px;
  right: -35px;
  cursor: pointer; }

.remodal-wrapper .modal-zvonok .title {
  display: block;
  font-size: 35px;
  font-family: sansationbold;
  color: #c92596;
  margin-bottom: 40px; }
  @media only screen and (max-width: 460px) {
    .remodal-wrapper .modal-zvonok .title {
      font-size: 28px; } }

.remodal-wrapper .modal-rachet .title {
  display: block;
  font-size: 28px;
  font-family: sansationbold;
  color: #c92596;
  margin-bottom: 40px; }
  @media only screen and (max-width: 460px) {
    .remodal-wrapper .modal-rachet .title {
      font-size: 22px; } }

.remodal-wrapper input {
  height: 63px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 460px) {
    .remodal-wrapper input {
      height: 35px; } }

.remodal-wrapper input, .remodal-wrapper textarea {
  outline: none;
  width: 418px;
  border: none;
  padding-left: 80px;
  padding-right: 25px;
  font-size: 18px;
  font-family: "Verdana"; }
  @media only screen and (max-width: 460px) {
    .remodal-wrapper input, .remodal-wrapper textarea {
      width: 250px;
      font-size: 14px;
      padding-left: 45px; } }

.remodal-wrapper input::-webkit-input-placeholder, .remodal-wrapper textarea::-webkit-input-placeholder {
  color: #b2b2b2; }

.remodal-wrapper input::-moz-placeholder, .remodal-wrapper textarea::-moz-placeholder {
  color: #b2b2b2; }

.remodal-wrapper input:-ms-input-placeholder, .remodal-wrapper textarea:-ms-input-placeholder {
  color: #b2b2b2; }

.remodal-wrapper input::placeholder, .remodal-wrapper textarea::placeholder {
  color: #b2b2b2; }

.remodal-wrapper .name {
  background: url("../img/forms/name.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper .telephone {
  background: url("../img/forms/telephone.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper .mail {
  background: url("../img/forms/email.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper textarea {
  padding-top: 20px;
  background: url("../img/forms/textarea.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  height: 141px;
  resize: none;
  overflow: auto;
  margin-bottom: 20px; }
  @media only screen and (max-width: 460px) {
    .remodal-wrapper textarea {
      padding-top: 10px;
      height: 80px; } }

.remodal-wrapper .name:focus {
  background: url("../img/forms/name-focus.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper .telephone:focus {
  background: url("../img/forms/telephone-focus.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper .mail:focus {
  background: url("../img/forms/email-focus.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper textarea:focus {
  background: url("../img/forms/textarea-focus.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.remodal-wrapper .button {
  margin-bottom: 30px;
  background: none;
  border: none; }
  .remodal-wrapper .button img {
    margin: auto;
    cursor: pointer; }
