.sprite {
    background-image: url(../img/sprite/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-clocks {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-contacts-clock {
    width: 22px;
    height: 22px;
    background-position: -47px -5px;
}

.sprite-contacts-geo {
    width: 19px;
    height: 22px;
    background-position: -79px -5px;
}

.sprite-contacts-mail {
    width: 24px;
    height: 19px;
    background-position: -108px -5px;
}

.sprite-contacts-tel {
    width: 21px;
    height: 21px;
    background-position: -108px -34px;
}

.sprite-form-name {
    width: 31px;
    height: 32px;
    background-position: -5px -65px;
}

.sprite-form-tel {
    width: 20px;
    height: 32px;
    background-position: -46px -65px;
}

.sprite-instagram {
    width: 33px;
    height: 34px;
    background-position: -76px -65px;
}

.sprite-list-el {
    width: 6px;
    height: 6px;
    background-position: -119px -65px;
}

.sprite-slider-element {
    width: 34px;
    height: 35px;
    background-position: -142px -5px;
}

.sprite-slider-element-active {
    width: 34px;
    height: 35px;
    background-position: -139px -50px;
}

.sprite-slider-leaft-arrow {
    width: 34px;
    height: 60px;
    background-position: -119px -95px;
}

.sprite-slider-right-arrow {
    width: 34px;
    height: 61px;
    background-position: -186px -5px;
}


@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}