%Verdana
	color: #fff
	font-size: 22px
	font-family: Verdana
$color-yellow: #f2ff2a
$color-pink: #c92596
$color-grey: #4f4f4f


.shapka
	background: url('../img/shapka.png') no-repeat
	background-size: cover
	padding-bottom: 200px
	.shapka-header
		padding-top: 18px
		padding-bottom: 18px
		margin-bottom: 220px
		.header-info
			float: right
			.header-info-contacts, .header-info-right, img
				float: left
				span, a
					color: #fff
					font-family: sansationregular
					font-size: 16px
					line-height: 16px
			.header-info-contacts
				padding-top: 18px
				padding-bottom: 18px
				max-width: 300px
				span
					text-align: right
					display: block
					margin-bottom: 13px
			.header-info-right
				padding-top: 8px
				max-width: 250px
				span
					display: block
					min-width: 200px
					text-align: right
				.header-info-right-time-text, .clock
					float: left
				.header-info-right-time-text
					margin-right: 10px
				.header-info-right-time
					margin-bottom: 14px
				.header-button
					width: 100%
					border: none
					background: url("../img/header-button.png") no-repeat
					height: 45px
			img
				margin-left: 20px
				margin-right: 20px
	.shapka-center
		.shapka-center-inner
			// width: 80%
			float: left
			text-align: center
			display: inline-block
			.shapka-center-title
				font-size: 28px
				font-family: "Verdana"
				color: rgb(255, 255, 255)
				font-weight: bold
				line-height: 1.642
				text-align: center
				display: inline-block
				max-width: 1026px
				letter-spacing: 15px
				margin-bottom: 40px
			.shapka-center-subtitle
				font-size: 40px
				font-family: "Verdana"
				color: $color-yellow
				font-weight: bold
				line-height: 1.642
				text-align: center
				display: block
				letter-spacing: 15px
				margin-bottom: 40px
			img
				margin: auto
				display: block
